@use '../abstracts/mixins' as mixins;

.section {
  padding: clamp(72px, 7vw, 96px) 0;
}

@include mixins.below-md {
  .section {
    padding: 72px 0;
  }
}

@include mixins.below-sm {
  .section {
    padding: 64px 0;
  }
}